<a href="https://colab.research.google.com/github/Sha-diya/DataCollection-/blob/main/DataCollection_API/API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Application programming interface is a data pipeline that connect multiple website

In [1]:
import pandas as pd
import requests
import os

In [2]:
api="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiOWVmMzExMWRmZTQyYjQ1NDZmNWQ3NTk3YjQ3ODA5OCIsIm5iZiI6MTczNjYxOTA2MC44ODEsInN1YiI6IjY3ODJiNDM0OGMyMzA5Y2VhZmJiMDQ2YyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GnrZvYusdj0KY5L8AcSa4gveev-cuIj8pCax-yuP1eU"
#API_KEY="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiOWVmMzExMWRmZTQyYjQ1NDZmNWQ3NTk3YjQ3ODA5OCIsIm5iZiI6MTczNjYxOTA2MC44ODEsInN1YiI6IjY3ODJiNDM0OGMyMzA5Y2VhZmJiMDQ2YyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GnrZvYusdj0KY5L8AcSa4gveev-cuIj8pCax-yuP1eU"
df=pd.DataFrame()

In [3]:
for i in range(1,429):
    url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={}".format(i)

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer {}".format(api)
    }
    response = requests.get(url, headers=headers)
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','popularity','release_date']]
    df=pd.concat([df,temp_df],ignore_index=True)

In [4]:
print(df)

print(df.shape)
df.to_csv("movies.csv")

         id                     title  popularity release_date
0       278  The Shawshank Redemption     177.353   1994-09-23
1       238             The Godfather     163.432   1972-03-14
2       240     The Godfather Part II      76.683   1974-12-20
3       424          Schindler's List      97.261   1993-12-15
4       389              12 Angry Men      58.325   1957-04-10
...     ...                       ...         ...          ...
8555  11632               Vanity Fair      14.219   2004-09-01
8556  10406                Encino Man      15.996   1992-05-22
8557  10035                 100 Girls      26.226   2000-09-01
8558  73499                The Double      10.810   2011-10-27
8559  52451      The Three Musketeers      22.437   2011-08-31

[8560 rows x 4 columns]
(8560, 4)